body {
font-family: Cursive;
font-size: 14pt;
} 

#puzzlearea  {

overflow: hidden;
height:400px;
width:400px;
margin: 0 auto;

}

#puzzlearea div{

background-repeat: no-repeat;
position:relative;
width: 90px;
height:90px;
border:5px solid black; 
text-align:center;
font-size:40pt;
background-image: url("winter.jpg");

}

p, #w3c, h1{
text-align: center;
margin: 30px;





